<div class="comments col-lg-10 col-lg-offset-1">
    <div class="row">
        <div class="comment-leave col-lg-12">
            <h4 class="comment-heading">Leave comment:</h4>
                <div class="col-md-2">
                    <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />
                </div>

                <div class="col-md-10">
                    <form>
                        <textarea  name="comment-message" id="comment-message" placeholder="Your message" rows="3"></textarea>
                        <input type="submit" onsubmit="return false;" class="btn btn-lg btn-submit pull-right" name="leave-comment" value="Send"/>

                    </form>
                </div>
        </div>

        <div class="comment">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
               <div class="comment-meta">
                <span class="comment-author-name">David Lynch</span>
                <span class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i>28 june 2015 at 13:45</span>
               </div>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
                <div class="comment-options">
                    <span class="comment-option comment-option-edit"><i class="fa fa-edit" aria-hidden="true"></i> Edit</span>
                    <span class="comment-option comment-option-delete"><i class="fa fa-close" aria-hidden="true"></i>Delete</span>
                    <span class="comment-option comment-option-reply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
                </div>
            </div>
        </div>

        <div class="comment comment-nested">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <div class="comment-meta">
                    <span class="comment-author-name">David Lynch</span>
                    <span class="comment-reply-to"><i class="fa fa-mail-forward" aria-hidden="true"></i>David Lynch</span>
                    <span class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i>28 june 2015 at 13:45</span>
                </div>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
                <div class="comment-options">
                    <span class="comment-option comment-option-edit"><i class="fa fa-edit" aria-hidden="true"></i> Edit</span>
                    <span class="comment-option comment-option-delete"><i class="fa fa-close" aria-hidden="true"></i>Delete</span>
                    <span class="comment-option comment-option-reply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
                </div>
            </div>

        </div>

        <div class="comment comment-nested">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <div class="comment-meta">
                    <span class="comment-author-name">David Lynch</span>
                    <span class="comment-reply-to"><i class="fa fa-mail-forward" aria-hidden="true"></i>David Lynch</span>
                    <span class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i>28 june 2015 at 13:45</span>
                </div>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
                <div class="comment-options">
                    <span class="comment-option comment-option-edit"><i class="fa fa-edit" aria-hidden="true"></i> Edit</span>
                    <span class="comment-option comment-option-delete"><i class="fa fa-close" aria-hidden="true"></i>Delete</span>
                    <span class="comment-option comment-option-reply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
                </div>
            </div>
        </div>

    <div class="comment">
        <div class="comment-author col-lg-2">
            <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

        </div>
        <div class="comment-content col-lg-10">
            <div class="comment-meta">
                <span class="comment-author-name">David Lynch</span>
                <span class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i>28 june 2015 at 13:45</span>
            </div>

            <p>Well, nothing can beat wordpress as a blogging tool</p>
            <div class="comment-options">
                <span class="comment-option comment-option-edit"><i class="fa fa-edit" aria-hidden="true"></i> Edit</span>
                <span class="comment-option comment-option-delete"><i class="fa fa-close" aria-hidden="true"></i>Delete</span>
                <span class="comment-option comment-option-reply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-author col-lg-2">
            <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

        </div>
        <div class="comment-content col-lg-10">
            <div class="comment-meta">
                <span class="comment-author-name">David Lynch</span>
                <span class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i>28 june 2015 at 13:45</span>
            </div>

            <p>Well, nothing can beat wordpress as a blogging tool</p>
            <div class="comment-options">
                <span class="comment-option comment-option-edit"><i class="fa fa-edit" aria-hidden="true"></i> Edit</span>
                <span class="comment-option comment-option-delete"><i class="fa fa-close" aria-hidden="true"></i>Delete</span>
                <span class="comment-option comment-option-reply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
            </div>
        </div>
    </div>



    </div>

    <div class="comments-more">
    <div class="btn btn-more">
        load more comments
    </div>
</div>
</div>