<div class="comments col-lg-10 col-lg-offset-1">
    <div class="row">
        <div class="comment-leave col-lg-12">
            <h4 class="comment-heading">Leave comment:</h4>
                <div class="col-md-2">
                    <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />
                </div>

                <div class="col-md-10">
                    <form>
                        <textarea  name="comment-message" id="comment-message" placeholder="Your message" rows="3"></textarea>
                        <input type="submit" onsubmit="return false;" class="btn btn-lg btn-submit pull-right" name="leave-comment" value="Send"/>

                    </form>
                </div>
        </div>

        <div class="comment">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <span class="comment-author-name"><i class="fa fa-clock-o"></i> David Lynch</span>
                <span class="comment-date">28 june 2015 at 13:45</span>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
            </div>
        </div>

        <div class="comment comment-nested">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <span class="comment-author-name"><i class="fa fa-clock-o"></i> David Lynch</span>
                <span class="comment-date">28 june 2015 at 13:45</span>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
            </div>
        </div>

        <div class="comment comment-nested">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <span class="comment-author-name"><i class="fa fa-clock-o"></i> David Lynch</span>
                <span class="comment-date">28 june 2015 at 13:45</span>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
            </div>
        </div>

        <div class="comment ">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <span class="comment-author-name"><i class="fa fa-clock-o"></i> David Lynch</span>
                <span class="comment-date">28 june 2015 at 13:45</span>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
            </div>
        </div>

        <div class="comment ">
            <div class="comment-author col-lg-2">
                <img class="img-responsive comment-author-avatar" src="../img/avatar.png" alt="avatar" />

            </div>
            <div class="comment-content col-lg-10">
                <span class="comment-author-name"><i class="fa fa-clock-o"></i> David Lynch</span>
                <span class="comment-date">28 june 2015 at 13:45</span>

                <p>Well, nothing can beat wordpress as a blogging tool</p>
            </div>
        </div>
    </div>
</div>